.subsection1 {
  background-color: #f1e4ef;
}

.text-special { color: #e16e4c;}

.link-outline{
  border: 1px solid #e16e4c;
  color: #e16e4c;
}

.subsection2{
  background-color: #fbe5de;
}

.bg-special { background-color: #e16e4c;}
.bg-special-border { border: 1px solid #e16e4c;}